@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<br />
<RadzenButton Click="@ButtonClicked" Text=@buttonText></RadzenButton>

@code {
    private int currentCount = 0;
    private string buttonText = "You have not clicked. ";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ButtonClicked()
    {
        currentCount++;
        buttonText = "You have clicked again!";
    }
}
